<!DOCTYPE html>
<html>
  <head>
    <title>date</title>
  </head>
  <body>
    <h1>Today</h1>
<<<<<<< HEAD
    <p>The date is<%= Date.today.strftime("%A, %B %d, %Y") %>
=======
    <p>The date is<%= Time.now.strftime("%m/%d/%Y") %>
>>>>>>> 23147af26f37f3a052460fd189d70af2d51c0032
</p>
  </body>
</html>